<template name="home">
    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Welcome</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#if currentUser.profile.securityInfo}}
                {{> normalHome}}
             {{else}}
                <div class="padding">
                    <div class="text-center">
                        <button id="completeRegistration" class="button icon-left ion-ios-information button-positive">
                            Complete Registration
                        </button>
                    </div>

                </div>

             {{/if}}
            {{/ionContent}}
    {{/ionView}}
</template>
<template name="normalHome">
    {{#if driveRequest}}
    {{#each driveRequest}}
        <div class="card">
            <div class="item item-divider">
                New Drive Request
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col-100">
                        {{customerInfo.basicInfo.Name.fname}} {{customerInfo.basicInfo.Name.lname}} wants to request a drive from you
                    </div>
                </div>
                <div class="row">
                    <div class="col-50">
                        <i class=" text-blue ion ion-ios-location"></i> {{customerInfo.basicInfo.city}}
                    </div>
                </div>

             </div>
            <div class="item item-divider">
               <div class="row">
                   <div class="col-50">
                       <span class="button icon-right ion-checkmark-round button-positive btn-status" data-status="accepted">Accept</span>
                   </div>
                   <div class="col-50">
                       <span class="button icon-right ion-close-round button-assertive btn-status" data-status="rejected">Cancel</span>
                   </div>
               </div>
            </div>
        </div>
    {{/each}}
        {{else}}
            <div class="padding">
                <h4 class="text-center">
                    loading request ....
                </h4>
            </div>
    {{/if}}

</template>
