<template name="layout">
    {{#ionBody}}

        {{#ionSideMenuContainer}}

            {{#ionSideMenus}}

                {{#ionSideMenu}}
                    <div class="bar bar-header bar-dark">
                        <h1 class="title">Menu</h1>
                    </div>
                    <div class="content has-header">
                        <div class="list">
                            <div class="item item-icon-right" data-ion-menu-close>
                                Close Me {{> ionIcon icon="ios-arrow-right"}}
                            </div>

                            {{#if Template.subscriptionsReady}}
                                <div class="item item-icon-right nav-home" data-ion-menu-close>
                                    Home <span class="badge badge-danger text-yellow">{{newdriveRequest}}</span> {{> ionIcon icon="ios-arrow-right"}}
                                </div>

                                <div class="item item-icon-right navi-drive" data-status="accepted" data-ion-menu-close>
                              Accepted Drives <span class="badge badge-success text-green">{{noOfdrives 'accepted'}}</span>  {{> ionIcon icon="ios-arrow-right"}}
                            </div>
                            <div class="item item-icon-right navi-drive" data-status="rejected" data-ion-menu-close>
                               Rejected Drives <span class="badge badge-danger text-red">{{noOfdrives 'rejected'}}</span>  {{> ionIcon icon="ios-arrow-right"}}
                            </div>
                            {{/if}}
                        </div>
                    </div>
                {{/ionSideMenu}}

            {{/ionSideMenus}}

            {{#ionSideMenuContent}}

                {{> ionNavBar class="bar-balanced"}}

                {{#ionNavView}}
                    {{> yield}}
                {{/ionNavView}}

            {{/ionSideMenuContent}}

        {{/ionSideMenuContainer}}

    {{/ionBody}}

</template>